.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0.8;
}

.loading-background {
  position: absolute;
  top: -12px;
  left: -212px;
  width: 1756px;
  height: 1047px;
  background-color: #1e1e1f;
  z-index: 0;
}

/* Genesis Logo */
.genesis-logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  z-index: 2;
}

.genesis-logo-loading {
  width: 400px;
  height: 108px;
  object-fit: contain;
}

/* Loading Spinner */
.loading-spinner {
  position: absolute;
  top: 47.56%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 77px;
  height: 77px;
  z-index: 3;
  animation: rotateSpinner 1s linear infinite;
}

.pixel-block {
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: #d9d9d9;
}

.pixel-block:nth-child(1) {
  top: 0;
  left: 33px;
  opacity: 1;
}

.pixel-block:nth-child(2) {
  top: 9px;
  right: 9px;
  opacity: 0.875;
}

.pixel-block:nth-child(3) {
  top: 33px;
  right: 0;
  opacity: 0.75;
}

.pixel-block:nth-child(4) {
  bottom: 9px;
  right: 9px;
  opacity: 0.625;
}

.pixel-block:nth-child(5) {
  bottom: 0;
  left: 33px;
  opacity: 0.5;
}

.pixel-block:nth-child(6) {
  bottom: 9px;
  left: 9px;
  opacity: 0.375;
}

.pixel-block:nth-child(7) {
  top: 33px;
  left: 0;
  opacity: 0.25;
}

.pixel-block:nth-child(8) {
  top: 9px;
  left: 9px;
  opacity: 0.125;
}

@keyframes rotateSpinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Loading Bar */
.loading-bar-container {
  position: absolute;
  top: 649px;
  left: 50%;
  transform: translateX(-50%);
  width: 1055px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 2;
}

.loading-bar-outer {
  width: 100%;
  height: 31px;
  background-color: #fff;
  border: 3px solid #fff;
  position: relative;
}

.loading-bar-inner {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: #1e1e1f;
  overflow: hidden;
}

.loading-bar-fill {
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  background-color: #fff;
  transition: width 0.3s ease-out;
}

.loading-percentage {
  font-family: "Monocraft", "Minecraft", "Press Start 2P", monospace;
  font-size: 32px;
  color: #fff;
  margin: 0;
  line-height: 1;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 1440px) {
  .genesis-logo-loading {
    width: 600px;
    height: 162px;
  }

  .loading-bar-container {
    width: 900px;
    top: 580px;
  }
}

@media (max-width: 1024px) {
  .genesis-logo-container {
    top: 180px;
  }

  .genesis-logo-loading {
    width: 500px;
    height: 135px;
  }

  .loading-bar-container {
    width: 700px;
    top: 500px;
  }

  .loading-percentage {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .genesis-logo-container {
    top: 150px;
  }

  .genesis-logo-loading {
    width: 400px;
    height: 108px;
  }

  .loading-spinner {
    width: 60px;
    height: 60px;
  }

  .pixel-block {
    width: 9px;
    height: 9px;
  }

  .loading-bar-container {
    width: 90%;
    top: 450px;
  }

  .loading-percentage {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .genesis-logo-container {
    top: 120px;
  }

  .genesis-logo-loading {
    width: 300px;
    height: 81px;
  }

  .loading-spinner {
    width: 50px;
    height: 50px;
  }

  .pixel-block {
    width: 7px;
    height: 7px;
  }

  .loading-bar-container {
    width: 85%;
    top: 400px;
  }

  .loading-bar-outer {
    height: 25px;
  }

  .loading-percentage {
    font-size: 20px;
  }
}
